.dd-menu {
  ul {
    margin-bottom: $padding-xs;

    > li {
      font-weight: 200;
      line-height: 2;
      border-bottom: 1px solid $border-color-light;
      color: $grey-dark;

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding-xs / 4 0 $padding-xs / 4 $padding-xs / 2;
      }

      &.label {
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: 0;
      }

      &.sub-child {
        font-size: 12px;
        padding-left: $padding-xs;
      }
    }
  }
}
