html {
  font-family: $font-family;
  box-sizing: border-box;

  body {
    margin: 0;

    #main-layout {
      display: flex;
      flex-direction: column;
      min-height: 100vh;

      main.main {
        flex-grow: 1;
      }
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $width-page + ($padding * 2); // add padding spaces
  padding: ($padding - 4px) $padding;
}

.icon {
  display: inline-flex;
  align-self: center;
  height: 1em;
  width: 1em;
  font-size: 1em;
  fill: currentColor;

  &.baseline {
    position: relative;
    top: 0.125em;
  }

  &.error {
    font-size: 700px;
  }

  &.xs {
    font-size: 0.8em;
  }

  &.sm {
    font-size: 1.33em;
  }

  &.md {
    font-size: 2em;
  }

  &.lg {
    font-size: 3em;
  }

  &.xl {
    font-size: 4.33em;
  }

  &.visa {
    color: #1b226e;
  }

  &.paypal {
    color: #002f86;
  }

  &.close {
    cursor: pointer;
    color: $grey-light;
    font-size: 26px;
    transition: all 0.4s;

    &:hover {
      color: $grey-dark;
      transform: scale(1.2);
    }
  }

  &.danger {
    color: $danger;
  }
}

.strike {
  position: relative;
  padding: 0 2px;
  //margin-left: 4px;
  white-space: nowrap;
}

.strike:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  transform: rotate(-5deg);
}

.secure-data {
  font-size: 12px;
  color: $grey-light;
  padding-top: $padding;
}

.link,
a:not([class*="o-"]) {
  color: $black;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: rgba($primary, 0.8);
  }
}

.text-danger{
  color: $danger;
}

.box {
  background: $white;
  box-shadow: $box-shadow-elevation-1;
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: $height-box-header;
  font-size: 14px;
  border-bottom: solid 1px $border-color;

  &.borderless {
    border-bottom: 0;
  }
}

.box-title {
  display: inline; // for the h1 tag and remove margins
  margin-bottom: 0 !important; // inline doesn't work sometimes!
  font-size: 15px !important;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.drop-hover {
  .trigger {
    position: relative;

    &:hover {
      .content {
        visibility: visible;
        opacity: 1;
        top: 100%;
      }
    }

    // menu overlay
    .content {
      display: block;
      position: absolute;
      visibility: hidden;
      padding: $padding-sm;
      color: $black;
      border: solid 1px $border-color-light;
      width: 300px;
      font-size: 14px;
      background: $white;
      min-height: 80px;
      cursor: auto;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      transition-delay: 0.2s;
      left: -5%;
      top: 200%;
      z-index: 998;
    }
  }
}

.o-sklt {
  vertical-align: unset;

  .o-sklt__item {
    margin: 0;
  }
}

ul.address-book {
  > li {
    position: relative;
    min-height: 45px;
    height: 210px;

    .addr-container {
      font-size: 13px;
      padding: 14px $padding-sm;
      height: 210px;
      transition: background-color 0.8s ease-out;
      box-shadow: $box-shadow-elevation-1;

      &.active {
        cursor: auto;
      }

      &.updated {
        background: $bg-updated;
      }

      &.deleted {
        background-color: $bg-deleted;
      }
    }

    ul.contact {
      padding: 0 0 8px;

      > li {
        padding: 1px 0;

        &.name {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    ul.address {
      > li {
        padding: 1px 0;
      }
    }

    .footer {
      position: absolute;
      cursor: pointer;
      border-top: solid 1px $border-color-light;
      width: 100%;
      background: $bg-cream;
      padding: $padding-xs $padding-sm;
      bottom: 0;
      left: 0;
    }

    &.new-addr {
      padding: 6px;
      display: flex;
      border: dashed 2px $border-color;
      font-size: 15px;
      color: $grey-light;
      background: $bg-cream;
      text-align: center;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      box-shadow: none;
    }
  }
}

.more-vert {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  top: 8px;
  right: 8px;

  .o-drop__trigger {
    .icon {
      color: $grey-light;
      transition: all 0.4s;
    }
  }

  &:hover {
    color: $grey-dark;

    .o-drop__trigger {
      .icon {
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .container {
    overflow: hidden; // to prevent some gutters overflow on mobiles
    padding: $padding-xs $padding-sm;

    &.fw {
      // fullwidth
      padding-left: 0 !important;
      padding-right: 0 !important;

      ul.breadcrumbs {
        padding-left: $padding-sm !important;
      }
    }
  }

  .no-wrap {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    overflow-x: scroll !important;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
    }
  }

  .icon.error {
    font-size: 100px;
  }
}
