.products {
  .title {
    text-align: center;
    margin-bottom: $padding;

    span {
      padding-bottom: $padding-xs / 3;
      font-size: 15px;
      font-weight: 600;
      line-height: 2;
      text-transform: uppercase;
      border-bottom: 2px solid $primary;
    }
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px (-$padding-sm);

    > li {
      flex-basis: 20%;
      max-width: 20%;
      padding: $padding-sm;
      text-align: center;
      // box-shadow: $box-shadow-elevation-1;
      outline: 1px solid $border-color-light;
      cursor: pointer;

      img {
        object-fit: cover;
      }

      .name {
        display: block;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .brand {
        display: block;
        color: rgba($black, 0.6);
        font-size: 14px;
      }

      .price {
        margin: $padding-xs 0;

        .old {
          font-size: 12px;
          color: $grey-light;
        }

        .selling {
          color: $info;
          font-size: 16px;
        }
      }

      .o-button {
        font-weight: 100;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .products {
    > ul {
      margin: 0 (-$padding-xs);

      > li {
        margin: 1px;
        flex-basis: 45%;
        max-width: 45%;
        min-width: 200px;
        padding: $padding-xs;

        img,
        .c-img {
          height: 150px;
          width: 100%;
          max-width: fit-content;
        }

        .price {
          .selling {
            display: block;
          }
        }
      }
    }
  }
}
