main.account {
  background: $bg-cream;

  .box {
    position: relative;
    display: flex;
    min-height: 300px;

    > nav {
      width: $width-account-nav;

      .header {
        display: flex;
        align-items: center;
        height: 64px;
        border-bottom: 1px solid $grey-lighter;
        padding: 4px $padding-sm;

        img {
          border-radius: 50%;
          margin-right: $padding-xs;
        }
      }

      ul {
        padding: $padding-xs $padding-xs $padding-xs 0;

        li {
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;
          border: 1px solid $border-color-light;
          border-left: 0;
          margin: $padding-xs 0;
          font-size: 14px;
          transition: all 0.2s ease-in;

          a {
            display: flex;
            align-items: center;
            padding: $padding-xs $padding-sm;
            color: $grey-dark;
            white-space: nowrap;

            &:hover {
              color: $grey-dark;
            }

            .icon {
              font-size: 20px;
              margin: 0 8px 2px 0;
            }
          }

          &:hover,
          &.active {
            background: rgba($grey-lighter, 0.2);
          }

          &.active {
            a {
              color: $grey-dark;
            }
          }
        }
      }
    }

    > .content {
      flex: 1;

      > .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        border-bottom: 1px solid $grey-lighter;
        padding: 4px 16px;
      }

      > :nth-child(2) {
        border-left: 1px solid $grey-lighter;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  main.account {
    .box > nav {
      width: 50px;

      .header {
        width: max-content;
        height: 54px;
        padding: 2px 5px;
      }

      ul {
        padding: 0;

        li {
          padding-left: 5px;

          a {
            padding: 10px;

            span {
              display: none;
            }
          }
        }
      }
    }

    .box > .content {
      > .title {
        height: 54px;
      }

      > :nth-child(2) {
        border-left: 0px;
      }
    }
  }
}
