footer {
  background: $black;

  .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: $padding-sm;

    .left {
      a {
        font-weight: lighter;
        font-size: 13px;
        display: block;
        color: rgba($grey-light, 0.6);
        margin-bottom: $padding-xs / 4;

        &:hover {
          color: rgba($primary, 0.6);
        }
      }
    }

    .right {
      a {
        color: rgba($grey-light, 0.6);
        margin-left: $padding-xs / 2;
        font-size: 24px;

        &:hover {
          color: rgba($primary, 0.6);
        }
      }
    }
  }

  .bottom {
    border-top: 1px solid $border-color;
    padding-top: $padding-sm;
    font-size: 12px;
    font-weight: lighter;
    color: rgba($primary, 0.6);
    text-align: center;
    // cursor: pointer;
  }
}
