footer {
  background: $bg-cream;
  color: $grey-darker !important;
  border-top: 3px solid $border-color;
  font-size: 13px;

  a {
    color: $grey-darker !important;
    margin-bottom: $padding-xs / 4;
    display: inline-flex;

    &:hover {
      color: rgba($primary, 0.6) !important;
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $padding-sm;
    font-weight: lighter;

    .right {
      flex-shrink: 0;

      a {
        margin-left: $padding-xs / 2;
        font-size: 24px;

        &:hover {
          color: rgba($primary, 0.6);
        }
      }
    }
  }

  .bottom {
    border-top: 1px solid rgba($border-color-dark, 0.2);
    padding-top: $padding-sm;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
  }
}
