footer {
  background: $black;
  color: rgba($grey-light, 0.8) !important;
  font-size: 13px;

  a {
    color: rgba($grey-light, 0.9) !important;
    margin-bottom: $padding-xs / 4;

    &:hover {
      color: rgba($primary, 0.6) !important;
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $padding-sm;
    font-weight: lighter;

    .right {
      a {
        color: rgba($grey-light, 0.6);
        margin-left: $padding-xs / 2;
        font-size: 24px;

        &:hover {
          color: rgba($primary, 0.6);
        }
      }
    }
  }

  .bottom {
    border-top: 1px solid rgba($border-color-dark, 0.2);
    padding-top: $padding-sm;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
  }
}
